@model IEnumerable<BuildViewModel>
@{
    ViewData["Title"] = "Builds";
}

<div class="text-center">
    <h1 class="display-4">Сборки</h1>
    @foreach (var build in Model)
    {
       <div class="d-grid gap-0">
            <button type="button" class="btn btn-outline-secondary btn-outline-primary " asp-controller="Build" asp-action="Index" asp-route-id="@build.Id">
                Сборка
                @build.Name
           </button>
            <button type="button" class="btn btn-outline-secondary btn-outline-primary" asp-controller="Build" asp-action="Create">

           </button>
       </div>
    }
</div>
