@model IEnumerable<Build>
@{
    Layout = "_Layout"; ViewData["Title"] = "Builds";
}

<div class="text-center">
    <h1 class="display-4">Сборки</h1>
    @foreach (var build in Model)
    {
       <div class="d-grid gap-2">
            <a type="button" class="btn btn-outline-secondary btn-outline-primary " asp-controller="Build" asp-action="Index" asp-route-id="@build.Id">
                Сборка
                @build.Name
           </a>
            <a type="button" class="btn btn-outline-secondary btn-outline-primary" asp-controller="Build" asp-action="AddBuild">
                Создать новую сборку
           </a>
       </div>
    }
</div>
